<org.embl.bssc.scConfig>
  <simulation>true</simulation>
  <udpport>9534</udpport>
  <remotectrl>true</remotectrl>
  <loadplugins>true</loadplugins>
  <persist__task__id>false</persist__task__id>
  <task__info__history>100</task__info__history>
  <path/>
  <log>
    <level>INFO</level>
    <milliseconds>false</milliseconds>
    <print__stdout>false</print__stdout>
    <blackbox__mode>Disabled</blackbox__mode>
    <blackbox__size>200</blackbox__size>
    <handle__java__loggers>false</handle__java__loggers>
    <java__loggers__level>INFO</java__loggers__level>
    <extensive__reports>false</extensive__reports>
  </log>
  <ds>
    <type>Tango</type>
    <exporter__protocol>STREAM</exporter__protocol>
    <exporter__port>9555</exporter__port>
    <tango__host>localhost:20000</tango__host>
    <tango__use__database>false</tango__use__database>
    <tango__local__port>12000</tango__local__port>
    <tango__dev__name__nodb>embl/bssc/1</tango__dev__name__nodb>
    <tango__server__name>BSSCDevSrv</tango__server__name>
    <tango__instance__name>BSSCHost</tango__instance__name>
    <tine__context>TEST</tine__context>
    <tine__subsystem>TEST</tine__subsystem>
    <tine__device__server>TEST</tine__device__server>
    <tine__port__offset>133</tine__port__offset>
    <epics__server__name></epics__server__name>
    <epics__context__type>CHANNEL_ACCESS_SERVER_JAVA</epics__context__type>
    <epics__monitor__interval>0</epics__monitor__interval>
    <epics__monitor__on__change>true</epics__monitor__on__change>
    <webservice__url>http://locahost:8080/SRV</webservice__url>
  </ds>
  <db>
    <embedded__db>true</embedded__db>
    <name>ctrldb</name>
    <port>0</port>
    <log__to__db>false</log__to__db>
    <alarms__to__db>false</alarms__to__db>
    <tasks__to__db>false</tasks__to__db>
    <loglevel>WARNING</loglevel>
    <print__stdout>true</print__stdout>
  </db>
  <email>
    <error__reporting>false</error__reporting>
    <dest></dest>
    <from></from>
    <host></host>
    <usr></usr>
    <pwd></pwd>
  </email>
  <ftp>
    <embedded__ftpsrv>false</embedded__ftpsrv>
    <home>.</home>
    <usr>usr</usr>
    <pwd>pwd</pwd>
    <readonly>false</readonly>
    <port>-1</port>
  </ftp>
  <backup>
    <enabled>false</enabled>
    <source>.</source>
    <destination></destination>
    <delay>300</delay>
    <period>28800</period>
    <copy__hidden__files>false</copy__hidden__files>
  </backup>
  <model>V3D1</model>
  <thermostat>Julabo</thermostat>
  <spetrometer__address></spetrometer__address>
  <pwd__admin></pwd__admin>
  <systemlook>true</systemlook>
  <serial>
    <tecan__portname></tecan__portname>
    <baudrate>38400</baudrate>
    <timeout>3000</timeout>
    <add__syringe>1</add__syringe>
    <add__peristaltic__pump>2</add__peristaltic__pump>
    <add__valve>3</add__valve>
    <add__detergent__pump>4</add__detergent__pump>
    <julabo__seu__portname></julabo__seu__portname>
    <julabo__sample__portname></julabo__sample__portname>
    <julabo__parity>0</julabo__parity>
    <barcode__reader__portname></barcode__reader__portname>
  </serial>
  <image>
    <source__type>Animation</source__type>
    <source>./simulation/2/tst0000.jpg</source>
    <pars></pars>
    <type>jpg</type>
    <interval>70</interval>
    <threaded__rendering>false</threaded__rendering>
    <scaling>1.0</scaling>
    <rotation__angle>0.0</rotation__angle>
    <mirrored>false</mirrored>
    <grayscale>false</grayscale>
    <rendering__mode>Normal</rendering__mode>
    <zoom>1.0</zoom>
    <calibration__scale__x>1.0</calibration__scale__x>
    <calibration__scale__y>1.0</calibration__scale__y>
    <calibration__fix__x>1</calibration__fix__x>
    <calibration__fix__y>1</calibration__fix__y>
    <save__history>false</save__history>
  </image>
  <modbus>
    <enabled>false</enabled>
    <ip>192.168.53.135</ip>
    <reg__focus__output>0</reg__focus__output>
    <reg__focus__input>0</reg__focus__input>
    <reg__venturi__output>6</reg__venturi__output>
    <reg__light__output>6</reg__light__output>
  </modbus>
  <twincat>
    <enabled>true</enabled>
    <net__id></net__id>
    <clean__venturi>
      <group>77829</group>
      <offset>272</offset>
      <symbol></symbol>
    </clean__venturi>
    <overflow__venturi>
      <group>77829</group>
      <offset>273</offset>
      <symbol></symbol>
    </overflow__venturi>
    <dry__valve>
      <group>77829</group>
      <offset>274</offset>
      <symbol></symbol>
    </dry__valve>
    <cover__open>
      <group>81925</group>
      <offset>423</offset>
      <symbol></symbol>
    </cover__open>
    <colision__detection>
      <group>81925</group>
      <offset>422</offset>
      <symbol></symbol>
    </colision__detection>
    <power__24V>
      <group>81925</group>
      <offset>427</offset>
      <symbol></symbol>
    </power__24V>
    <vacuum__ok>
      <group>81925</group>
      <offset>290</offset>
      <symbol></symbol>
    </vacuum__ok>
    <water__empty>
      <group>81925</group>
      <offset>428</offset>
      <symbol></symbol>
    </water__empty>
    <detergent__empty>
      <group>81925</group>
      <offset>429</offset>
      <symbol></symbol>
    </detergent__empty>
    <waste__full>
      <group>81925</group>
      <offset>430</offset>
      <symbol></symbol>
    </waste__full>
    <clean__venturi__ok>
      <group>81925</group>
      <offset>287</offset>
      <symbol></symbol>
    </clean__venturi__ok>
    <overflow__venturi__ok>
      <group>81925</group>
      <offset>288</offset>
      <symbol></symbol>
    </overflow__venturi__ok>
    <flooding>
      <group>81925</group>
      <offset>289</offset>
      <symbol></symbol>
    </flooding>
    <table__is__parked>
      <group>81925</group>
      <offset>721</offset>
      <symbol></symbol>
    </table__is__parked>
    <bottom__piston__out>
      <group>61473</group>
      <offset>321</offset>
      <symbol></symbol>
    </bottom__piston__out>
    <top__piston__out>
      <group>61473</group>
      <offset>320</offset>
      <symbol></symbol>
    </top__piston__out>
    <rotate__wash>
      <group>61473</group>
      <offset>322</offset>
      <symbol></symbol>
    </rotate__wash>
    <rotate__dry>
      <group>61473</group>
      <offset>323</offset>
      <symbol></symbol>
    </rotate__dry>
    <cleaning__station__reset>
      <group>61473</group>
      <offset>416</offset>
      <symbol></symbol>
    </cleaning__station__reset>
    <cover__unlock>
      <group>61473</group>
      <offset>1760</offset>
      <symbol></symbol>
    </cover__unlock>
    <overlap__sensor>
      <group>61473</group>
      <offset>1792</offset>
      <symbol></symbol>
    </overlap__sensor>
    <needle__ref__x>
      <group>61473</group>
      <offset>1793</offset>
      <symbol></symbol>
    </needle__ref__x>
    <needle__ref__y>
      <group>61473</group>
      <offset>1794</offset>
      <symbol></symbol>
    </needle__ref__y>
    <power__spectro__bcr>
      <group>77829</group>
      <offset>1136</offset>
      <symbol></symbol>
    </power__spectro__bcr>
    <codebar__trigger>
      <group>77829</group>
      <offset>1308</offset>
      <symbol></symbol>
    </codebar__trigger>
    <bottom__piston__is__down>
      <group>81925</group>
      <offset>716</offset>
      <symbol></symbol>
    </bottom__piston__is__down>
    <bottom__piston__is__up>
      <group>81925</group>
      <offset>715</offset>
      <symbol></symbol>
    </bottom__piston__is__up>
    <top__piston__is__down>
      <group>81925</group>
      <offset>718</offset>
      <symbol></symbol>
    </top__piston__is__down>
    <top__piston__is__up>
      <group>81925</group>
      <offset>717</offset>
      <symbol></symbol>
    </top__piston__is__up>
    <rotate__is__wash>
      <group>81925</group>
      <offset>720</offset>
      <symbol></symbol>
    </rotate__is__wash>
    <rotate__is__dry>
      <group>81925</group>
      <offset>719</offset>
      <symbol></symbol>
    </rotate__is__dry>
    <sample__detection__counter>
      <group>61488</group>
      <offset>404</offset>
      <symbol></symbol>
    </sample__detection__counter>
    <water__level>
      <group>61488</group>
      <offset>572</offset>
      <symbol></symbol>
    </water__level>
    <detergent__level>
      <group>61488</group>
      <offset>574</offset>
      <symbol></symbol>
    </detergent__level>
    <waste__level>
      <group>61488</group>
      <offset>576</offset>
      <symbol></symbol>
    </waste__level>
    <light__level>
      <group>61473</group>
      <offset>200</offset>
      <symbol></symbol>
    </light__level>
    <pod__in__place>
      <group>81925</group>
      <offset>3173</offset>
      <symbol></symbol>
    </pod__in__place>
    <ethercat__state>
      <group>73731</group>
      <offset>12</offset>
      <symbol></symbol>
    </ethercat__state>
  </twincat>
  <img__proc>
    <enabled>true</enabled>
    <mode>Contextual</mode>
    <use__native__library>true</use__native__library>
    <sync>true</sync>
    <display__img__proc__buffer>true</display__img__proc__buffer>
    <display__overlays>true</display__overlays>
    <display__ext__overlays>true</display__ext__overlays>
    <max__number__of__peaks>3</max__number__of__peaks>
    <min__peak__distance>100</min__peak__distance>
    <detect__single__peaks>false</detect__single__peaks>
    <drying__dirty__pixel__threshold>20</drying__dirty__pixel__threshold>
    <drying__max__dirty__pixel__rate>50</drying__max__dirty__pixel__rate>
    <drying__detection__duration>2000</drying__detection__duration>
  </img__proc>
</org.embl.bssc.scConfig>