<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<import resource="file:${gda.config}/servers/main/core.xml"/>
	<import resource="file:${gda.config}/servers/main/meta-data.xml"/>
	<import resource="file:${gda.config}/servers/main/scannables.xml"/>
	<import resource="file:${gda.config}/servers/main/${gda.mode}/detectors.xml"/>
	<import resource="file:${gda.config}/servers/main/${gda.mode}/devices.xml"/>
	<import resource="file:${gda.config}/servers/main/${gda.mode}/samplestages.xml"/>
	<import resource="file:${gda.config}/servers/main/command-server.xml"/>
</beans>
