<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.gda.exafs.ui.XasScanParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/XasParametersIcon.png"
            id="uk.ac.gda.exafs.ui.XasScanParametersEditor"
            name="XAS Scan Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXasContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.XanesScanParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/XanesParametersIcon.png"
            id="uk.ac.gda.exafs.ui.XanesScanParametersEditor"
            name="XANES Scan Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXanesContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.SampleParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/SampleParametersIcon.png"
            id="uk.ac.gda.exafs.ui.SampleParametersEditor"
            name="Sample Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getDetectorContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.DetectorParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/DetectorParametersIcon.png"
            id="uk.ac.gda.exafs.ui.DetectorParametersEditor"
            name="Detector Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getDetectorContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.OutputParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/OutputParametersIcon.png"
            id="uk.ac.gda.exafs.ui.OutputParametersEditor"
            name="Output Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getOutputContent">
         </contentTypeBinding>
      </editor>
     <editor
            class="uk.ac.gda.exafs.ui.editors.detectors.Xspress1ParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/page_refresh.png"
            id="uk.ac.gda.exafs.ui.Xspress1ParametersEditor"
            name="Xspress Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXspressContent">
         </contentTypeBinding>
      </editor>
      <editor
            class="uk.ac.gda.exafs.ui.editors.detectors.VortexParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/page_refresh.png"
            id="uk.ac.gda.exafs.ui.editors.detectors.VortexParametersEditor"
            name="Vortex Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getVortexContent">
         </contentTypeBinding>
      </editor>
     <editor
            class="uk.ac.gda.exafs.ui.editors.detectors.Xspress3ParametersEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/page_refresh.png"
            id="uk.ac.gda.exafs.ui.Xspress3ParametersEditor"
            name="Xspress3 Parameters">
         <contentTypeBinding
               contentTypeId="uk.ac.diamond.gda.client.exafs.getXspress3Content">
         </contentTypeBinding>
      </editor>
    </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.XasDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getXasContent"
            name="XAS Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.XanesDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getXanesContent"
            name="XANES Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.SampleDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getSampleContent"
            name="Sample Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.DetectorDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getDetectorContent"
            name="Detector Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.OutputDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getOutputContent"
            name="Output Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.Xspress1Describer"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getXspressContent"
            name="Xspress Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.Xspress3Describer"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getXspress3Content"
            name="Xspress3 Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.VortexDescriber"
            file-extensions="xml"
            id="uk.ac.diamond.gda.client.exafs.getVortexContent"
            name="Vortex Bean File Content"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="uk.ac.gda.exafs.ui.describers.XesScanParametersDescriber"
            file-extensions="xml"
            id="uk.ac.gda.beans.exafs.XesScanParametersContentType"
            name="XesScanParameters File Content"
            priority="high">
      </content-type>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.gda.client.application"
            name="GDA BM26a Beamline">
         <property
               name="appName"
               value="GDA BM26a Beamline">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogomed.png">
         </property>
         <property
               name="windowImages"
               value="platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo16.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo32.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo48.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo64.png,platform:/plugin/uk.ac.gda.core/icons/GDAlogos/GDALogo128.png">
         </property>         
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="uk.ac.gda.client.exafs.ExafsFolderEditorContribution"
            targetID="uk.ac.gda.client.experimentdefinition.FolderEditor">
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyOutputCommand"
               icon="icons/OutputParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLOutputCommandHandlerEditorAction"
               label="Output File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template output file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyDetectorCommand"
               icon="icons/DetectorParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLDetectorCommandHandlerEditorAction"
               label="Detector File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template detector file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopySampleCommand"
               icon="icons/SampleParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLSampleCommandHandlerEditorAction"
               label="Sample File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template Sample file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXANESCommand"
               icon="icons/XanesParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXANESCommandHandlerEditorAction"
               label="XANES File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XANES file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXASCommand"
               icon="icons/XasParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXASCommandHandlerEditorAction"
               label="XAS File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XAS file">
         </action>
      </editorContribution>
      <editorContribution
            id="uk.ac.gda.client.exafs.ExafsRunEditorContribution"
            targetID="gda.gui.eclipse.editors.scan.experimentdefinition.ExperimentRunEditor">
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyOutputCommand"
               icon="icons/OutputParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLOutputCommandHandlerEditorAction"
               label="Output File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template output file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyDetectorCommand"
               icon="icons/DetectorParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLDetectorCommandHandlerEditorAction"
               label="Detector File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template detector file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopySampleCommand"
               icon="icons/SampleParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLSampleCommandHandlerEditorAction"
               label="Sample File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template Sample file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXANESCommand"
               icon="icons/XanesParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXANESCommandHandlerEditorAction"
               label="XANES File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XANES file">
         </action>
         <action
               class="uk.ac.gda.client.experimentdefinition.ui.handlers.XMLCommandHandler"
               definitionId="uk.ac.gda.client.exafs.CopyXASCommand"
               icon="icons/XasParametersIcon.png"
               id="uk.ac.gda.client.exafs.XMLXASCommandHandlerEditorAction"
               label="XAS File"
               menubarPath="uk.ac.gda.client.exafs.FolderEditorNewXMLMenu/content"
               style="push"
               tooltip="Add template XAS file">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="uk.ac.gda.client.dashboard.objects">
      <Scannable
            name="bragg1"
            tooltip="Beam energy based on angle of 1st mono crystal pair">
      </Scannable>
      <Scannable
            name="shutter1"
            tooltip="The shutter to the experimental hutch">
      </Scannable>
      <Scannable
            name="ringCurrent">
      </Scannable>
      <Scannable
            name="ringEnergy">
      </Scannable>
   </extension>
   <extension
         point="uk.ac.diamond.scisoft.analysis.data.set.filter">
      <pattern
            regularExpression="xspress1system_element_\d+">
      </pattern>
      <pattern
            regularExpression="Element \d+">
      </pattern>
      <pattern
            regularExpression="xmapMca_.*">
      </pattern>
   </extension>
   <extension
         point="uk.ac.gda.client.preferences">
      <preference
            name="gda.client.max.size.cached.points"
            value="10000">
      </preference>
   </extension>
   <extension
         point="gda.scan.scan.data.point.formatter">
      <formatter
            class="gda.data.scan.datawriter.XasScanDataPointFormatter">
      </formatter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:gda.gui.eclipse.editors.scan.exafs.ExafsFolderEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXESCommand"
                  icon="icons/XesParametersIcon.png"
                  label="XES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopySampleCommand"
                  icon="icons/SampleParametersIcon.png"
                  label="Sample File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="fr.esrf.gda.beamline.bm26a.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="popup:gda.gui.eclipse.editors.scan.exafs.ExafsRunEditor">
         <menu
               icon="icons/page_add.png"
               label="New">
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXASCommand"
                  icon="icons/XasParametersIcon.png"
                  label="XAS File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
                  icon="icons/XanesParametersIcon.png"
                  label="XANES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyXESCommand"
                  icon="icons/XesParametersIcon.png"
                  label="XES File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopySampleCommand"
                  icon="icons/SampleParametersIcon.png"
                  label="Sample File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
                  icon="icons/DetectorParametersIcon.png"
                  label="Detector File"
                  style="push">
            </command>
            <command
                  commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
                  icon="icons/OutputParametersIcon.png"
                  label="Output File"
                  style="push">
            </command>
         </menu>
         <separator
               name="fr.esrf.gda.beamline.bm26a.separator2"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?before=Close">
         <command
               commandId="fr.esrf.gda.beamline.bm26a.switchExptModeCommand"
               icon="icons/switch_experiment.png"
               label="Switch experiment mode"
               style="push"
               tooltip="Switch from collecting EXAFS/XANES experiments to XES and vica versa">
            <visibleWhen>
                  <test
                        property="gda.authentication.isStaff" value="true">
                  </test>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="uk.ac.common.beans.factory">
      <bean
            class="uk.ac.gda.beans.exafs.XesScanParameters"
            describer="uk.ac.gda.exafs.ui.describers.XesScanParametersDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.bm26a.SampleParameters"
            describer="uk.ac.gda.exafs.ui.describers.SampleDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.DetectorParameters"
            describer="uk.ac.gda.exafs.ui.describers.DetectorDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.OutputParameters"
            describer="uk.ac.gda.exafs.ui.describers.OutputDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.SampleElements">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.XasScanParameters"
            describer="uk.ac.gda.exafs.ui.describers.XasDescriber">
      </bean>
      <bean
            class="uk.ac.gda.beans.exafs.XanesScanParameters"
            describer="uk.ac.gda.exafs.ui.describers.XanesDescriber">
      </bean>

      <bean
            class="uk.ac.gda.beans.xspress.XspressParameters"
            describer="uk.ac.gda.exafs.ui.describers.Xspress1Describer">
      </bean>
      <bean
            class="uk.ac.gda.beans.vortex.Xspress3Parameters"
            describer="uk.ac.gda.exafs.ui.describers.Xspress3Describer">
      </bean>
      <bean
            class="uk.ac.gda.beans.vortex.VortexParameters"
            describer="uk.ac.gda.exafs.ui.describers.VortexDescriber">
      </bean>
   </extension>
   <extension
         point="uk.ac.gda.client.experimentdefinition">
      <experimentobjectmanager
            class="uk.ac.gda.exafs.ui.data.ScanObjectManager">
      </experimentobjectmanager>
      <validator
      	class="gda.exafs.validation.Validator">
      </validator>
   </extension>
  <extension
         point="uk.ac.gda.richbeans.beantypes">
      <describer
            bean="uk.ac.gda.beans.exafs.XasScanParameters"
            commandId="uk.ac.gda.client.exafs.CopyXASCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getXasContent"
            includeInNew="true"
            name="XAS Scan"
            template="XAS_Parameters"
            type="Scan">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.XesScanParameters"
            commandId="uk.ac.gda.client.exafs.CopyXESCommand"
            contentType="uk.ac.gda.beans.exafs.XesScanParametersContentType"
            includeInNew="true"
            name="XES Scan"
            template="XES_Parameters"
            type="Scan">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.XanesScanParameters"
            commandId="uk.ac.gda.client.exafs.CopyXANESCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getXanesContent"
            includeInNew="false"
            name="XANES Scan"
            template="XANES_Parameters"
            type="Scan">
      </describer> 
      <describer
            bean="uk.ac.gda.beans.exafs.bm26a.SampleParameters"
            commandId="uk.ac.gda.client.exafs.CopySampleCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getSampleContent"
            includeInNew="true"
            name="Sample"
            template="Sample_Parameters"
            type="Sample">
      </describer> 
      <describer
            bean="uk.ac.gda.beans.exafs.DetectorParameters"
            commandId="uk.ac.gda.client.exafs.CopyDetectorCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getDetectorContent"
            includeInNew="true"
            name="Detector"
            template="Detector_Parameters"
            type="Detector">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.OutputParameters"
            commandId="uk.ac.gda.client.exafs.CopyOutputCommand"
            contentType="uk.ac.diamond.gda.client.exafs.getOutputContent"
            includeInNew="true"
            name="Output"
            template="Output_Parameters"
            type="Output">
      </describer>
      <describer
            bean="uk.ac.gda.beans.exafs.SampleElements"
            includeInNew="false"
            name="Sample Elements"
            template="Sample_Elements"
            type="UNREGISTERED">
      </describer>
      <describer
            bean="uk.ac.gda.beans.xspress.XspressParameters"
            contentType="uk.ac.diamond.gda.client.exafs.getXspressContent"
            includeInNew="false"
            name="Xspress"
            template="Xspress_Parameters"
            type="UNREGISTERED">
      </describer>
      <describer
            bean="uk.ac.gda.beans.vortex.Xspress3Parameters"
            contentType="uk.ac.diamond.gda.client.exafs.getXspress3Content"
            includeInNew="false"
            name="Xspress3"
            template="Xspress3_Parameters"
            type="UNREGISTERED">
      </describer>
      <describer
            bean="uk.ac.gda.beans.vortex.VortexParameters"
            contentType="uk.ac.diamond.gda.client.exafs.getVortexContent"
            includeInNew="false"
            name="Vortex"
            template="Vortex_Parameters"
            type="UNREGISTERED">
      </describer>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="fr.esrf.gda.beamline.bm26a.BM26aIntroPart"
            id="fr.esrf.gda.client.bm26a.intro">
      </intro>
      <introProductBinding introId="fr.esrf.gda.client.bm26a.intro" productId="fr.esrf.gda.beamline.bm26a.product"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="fr.esrf.gda.beamline.bm26a.StartupService">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.esrf.gda.beamline.bm26a.ui.handlers.SwitchExperimentModeHandler"
            id="fr.esrf.gda.beamline.bm26a.switchExptModeCommand"
            name="Switch expt mode">
      </command>
   </extension>  
    <extension
         point="org.eclipse.ui.preferencePages">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
               targetID="uk.ac.gda.client.experimentdefinition.experimentperspective">
         <view
               id="uk.ac.gda.exafs.ui.views.scalersmonitor"
               minimized="false"
               relationship="stack"
               relative="gda.gui.scriptcontroller.logging.scriptcontrollerlogview"
               showTitle="true"
               visible="true">
         </view>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.StopAllCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.dataCollectionCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.alignmentCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.switchScanType">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.OpenFolderCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.resetperspective">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.text.gotoLastEditPosition">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.undo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.redo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.newWizard">
            </hiddenToolBarItem>
            <hiddenMenuItem
                  id="uk.ac.gda.beamline.b18.hiddenMenuItem1">
            </hiddenMenuItem>
            <hiddenToolBarItem
                  id="gda.rcp.views.baton.SwitchUser">
            </hiddenToolBarItem>
         </perspectiveExtension>
         <perspectiveExtension
               targetID="org.diamond.exafs.ui.PlottingPerspective">
            <view
                  id="uk.ac.gda.exafs.ui.views.scalersmonitor"
                  minimized="false"
                  relationship="top"
                  relative="gda.rcp.jythonterminalview"
                  showTitle="true"
                  visible="true">
            </view>
            <view
                  id="uk.ac.gda.client.simplescanview"
                  minimized="false"
                  relationship="top"
                  relative="gda.rcp.jythonterminalview"
                  visible="true">
            </view>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.StopAllCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.dataCollectionCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.alignmentCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.switchScanType">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.OpenFolderCommand">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="uk.ac.gda.client.exafs.resetperspective">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.text.gotoLastEditPosition">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.undo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.edit.redo">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="org.eclipse.ui.newWizard">
            </hiddenToolBarItem>
            <hiddenToolBarItem
                  id="gda.rcp.views.baton.SwitchUser">
            </hiddenToolBarItem>
         </perspectiveExtension>
      </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            id="uk.ac.gda.exafs.ui.views.MythenPlotView"
            name="Mythen Plot"
            restorable="true">
      </view>
      <view
            class="uk.ac.gda.exafs.ui.views.MythenControl"
            id="uk.ac.gda.exafs.ui.views.MythenControl"
            name="Mythen Control"
            restorable="true">
      </view>
   </extension>
   
   
</plugin>
